*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Ysabeau Office', sans-serif;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #0B131E;
  /* overflow: hidden; */
}
input , button {
  border: none;
  outline: none;
}
body > section{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: .25fr 2fr;
  grid-template-columns: 1fr;
  background-color: #0B131E;
}
header{
  display: flex;
  align-items: center;
  padding-left: 30px;
}
header > form{
  width: 50%;
  padding: .4rem;
  position: relative;
}
header > form >  input{
  width: 100%;
  padding: .8rem;
  border-radius: 2rem;
  background-color: #202B3B;
}
#searchForCity{
  width: 40px;
  height: 40px;
  padding: .6rem;
  border-radius: 50%;
  color: #fff;
  background-color: #8ac5dc;
  position: absolute;
  top: 9px;
  right: 9px;
}
main{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
main > section{
  height: 100%;
}
#todayInfo{
  display: grid;
  grid-template-rows: repeat(2 , 1fr);
  padding: 0 30px;
}
#todayDetails{
  padding-left: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#todayDetails > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#todayDetails > div:first-child{
  align-items: flex-start;
  flex-direction: column;
}
#todayDetails > div > h2{
  font-size: 2rem;
}

#todayDetails > #icon > img{
  width: 200px;
}
#wholeDay {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: .5rem;
  border-radius: .4rem;
  background-color: #202B3B;
}
#wholeDay *:not(.icon , .degree) , #weekInfo *:not(.day-degree){
  color: #8D949D;
}
#hours{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: .5rem;
}
#hours > div {
  height: 90%;
  display: flex;
  justify-content: space-around;
}
#hours > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* #morning::after , #afternoon::after{ */
#hours > div:first-child::after , #hours > div:nth-child(2)::after{
  content: '';
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #8D949D;
}
#weekInfo{
  height: 95%;
  padding: .5rem;
  display: grid;
  grid-template-rows: .2fr 2fr;
  margin-right: 30px;
  border-radius: .4rem;
  background-color: #202B3B;
}

#daysMain{
  display: grid;
  grid-template-rows: 2fr 0fr 2fr 0fr 2fr 2fr 2fr;
}
.days{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

img{
  width: 50px;
}
.redBorder {
  color: red;
  border: 1px solid red;
}

@media screen and (max-width:820px) {
  body , body > section{
    min-height: 100vh;
  }
  header , #todayDetails , #weekInfo {
    padding-left: 10px !important;
  }
  header > form {
    width: 90%;
  }
  main {
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 1fr;
  }
  #morning::after , #afternoon::after{
    width: 100%;
    height: 1px;
  }
  #hours{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
  }
  #hours > div {
    flex-direction: column;
  }
  #hours > div > div {
    flex-direction: row !important;
  }
  #weekInfo {
    margin-left: 25px;
  }
  #wholeDay{
    height: 97%;
  }
}

